
/*reset*/

*{margin:0;padding:0}
h2{text-align:left}
h3{text-align:left}
h1,h2,h3,h4,h5,h6,strong{font-weight:bold}
h1,h2,h3,h4,h5,h6{font-size:100%}
abbr,acronym{border-bottom:1px dotted #000;cursor:help}
em{font-style:normal}
ol li{list-style:none}
ul li{list-style:none}
li{list-style:none}
th,td{padding:0}
th{font-weight:bold;text-align:center}
fieldset{border:0;}
.accessibility,legend{visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;font-size:0}
caption,.invisible{visibility:hidden !important;overflow:hidden !important;position:static;width:0 !important;height:0 !important;margin:0 !important;padding:0 !important;font-size:0 !important;line-height:0 !important;text-indent:-9999px !important}

input[type=text],input[type=password],textarea{width:12.25em;*width:11.9em}
label,.btn{cursor:pointer}

.fl{float:left}
.fr{float:right}

body{margin-left:auto;margin-right:auto;/* font-size:small;  for IE */
/* font:x-small; /* for IE in quirks mode */
/* center the page */
background-color:#fff;font-family:'Malgun Gothic', Dotum,'돋움',AppleGothic,Lucida Grande,Verdana,Arial,Tahoma,sans-serif;font-size:11px;color:#69696B;position: relative;}   /* 20161024 폰트변경 */

/**
 * Nudge down to get to 13px equivalent for these form elements
 */
input,button,textarea{font-family:'Malgun Gothic', Dotum,'돋움',AppleGothic,Lucida Grande,Verdana,Arial,Tahoma,sans-serif;font-size:11px;color:#4D4D4D;vertical-align:middle}/*201303 명도대비 수정*/     /* 20161024 폰트변경 */
select{font-family:'Malgun Gothic', Dotum,'돋움',AppleGothic,Lucida Grande,Verdana,Arial,Tahoma,sans-serif;font-size:12px;vertical-align:middle}     /* 20161024 폰트변경 */
input.txt,input.sum,input.sum-f{width:auto;height:18px;margin:-1px 0;padding:0 0 0 5px;border:1px solid #ccc;line-height:18px;color:#4D4D4D}/*201303 명도대비 수정*/
input.chk{width:13px;height:13px;margin:0 2px 0 0}
table{border-collapse:collapse;font-size:inherit;font:100%;text-align:left;border-spacing:0;width: 100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%}
button {
    border: none;
    padding: 0;
    margin: 0;
    visibility: visible;
    cursor: pointer;
}

a:link{color:#4d4d4d;text-decoration:none}
a:visited{color:#4d4d4d;text-decoration:none}
a:hover{color:#4d4d4d;text-decoration:underline}
a:active{color:#4d4d4d;text-decoration:none}
a:focus{text-decoration:underline}
table a {font-size: 12px;}
form,img,a,iframe{border-style:none}
img{vertical-align:top}
.datatable th{
    padding-left: 15px;
    font-weight: normal;
    color: #898989;
    text-align-last: left;
}

.hidden{
    visibility: hidden;
    position: absolute;
    font-size: 0;
    width: 0;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    background: none;
}

/* popup용 */
#container_popup{position: relative;}
#wrapper{
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 400px;
    position: relative;
}
#wrapper #header{
    min-height: 45px;
    position: relative;
    z-index: 1000001;  
    display: block;  
}
#wrapper #header .inwrap{
    min-height: 16px;
}
.head_prev{
    position: inherit;
    float: left;
    margin: 9px 0 0 5px;
    left: 12px;
    top: 17px;
}
.head_prev a{
    display: block;
    width: 30px;
    height: 30px;
    background: url(https://web.lpay.com:1452/resources/images/common/headbtn_prevB.png) no-repeat 50% 50%;
    background-size: 20px;
    
}
.blind, caption, legend {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -5000em;
}
.inwrap h1 {
    text-align: left;
    border-bottom: none;
    font-size: 18px;
    font-weight: 500;
}
.head_tit {
    float: left;
    margin-left: 20px;
    padding-left: 15px;
    padding-top: 17px;
    line-height: 16px;
    background: url(../images/icon/bul_titB.png) no-repeat 0 20px;
    background-size: 6px;
}

.head_prev, .head_tit{
    margin-left: 5px;
    padding-left: 0;
    background: none;
}
.head_tit .head_caution .caution {
    text-indent: -9999em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: -3px;
    background: url(https://web.lpay.com:1452/resources/images/icon/ico_caution.png) no-repeat 50% 50%;
    background-size: 14px;
}
.head_close{
    right: 0;top: 3px;
    position: absolute;
}
.head_close a{
    display: block;
    width: 23px;
    height: 23px;
    padding: 10px;
    background: url(https://web.lpay.com:1452/resources/images/common/headbtn_closeB.png) no-repeat 50% 50%;
    background-size: 17px;
}
.conarea{
    padding: 0 20px;
    margin-bottom: 75px;
}
.cardul .focusline{
    border-bottom: 1px solid #dbdbdb;
}
.cardul.addul {
    padding-top: 0;
}
.cardul > li{
    height: 70px;
}
.cardul > li strong{
    padding: 17px 0 4px;
    display: block;
    font-size: 14px;
    color: #555;
}
.label, .label label {
    display: inline-block;
    font-size: 14px;
    color: #555;
}
.inpbox{position: relative;}
.cardul.addul > li .inp_txt {
    border-bottom: none !important;
}
.cardul > li .inp_txt {
    width: 100%;
    height: 30px;
    font-size: 14px;
    color: #333;
    line-height: 30px;
}
.inpbox .inp_txt {
    border: 0 !important;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 30px;
    padding: 0;
    color: #333;
    z-index: 5;
}
.inp_chk_wrap {
    position: relative;
    overflow: hidden;
}
.inp_chk_wrap .inp_chk {
    border: 0 !important;
    position: absolute;
    top: -10px;
    left: -10px;
    width: 0;
    height: 0;
}
.card_prima{
    margin-top: 13px;
}
.card_prima .inp_chk_wrap .inp_chk + label {
    padding-top: 2px;
    font-size: 14px;
    color: #333;
}
.card_primabox .inp_chk_wrap .inp_chk + label:before {
    width: 17px;
    height: 17px;
    margin-top: -3px;
    margin-right: 7px;
    background: url(https://web.lpay.com:1452/resources/images/common/chx_sq_new.png) no-repeat 0 0;
    background-size: 17px;
}

.card_primabox .inp_chk_wrap label::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
}
.card_primabox .primatxt{
    margin-left: 24px;
    margin-top: 5px;
    line-height: 18px;
}
.card_primabox .primatxt span {
    font-size: 12px;
}

.card_prima .fix_cau{
    margin-top: 10px;
}
.line_cau ul {
    padding-top: 10px;
    border-top: 1px solid #dbdbdb;
}
.fix_cau li:first-child{
    margin-top: 0;
}
.fix_cau li{
    margin-top: 5px;
    font-size: 12px;
    line-height: 18px;
    padding-left: 8px;
    background: url(https://web.lpay.com:1452/resources/images/icon/bul_sq_gray.png) no-repeat 0 7px;
    background-size: 3px;
}
.pofix{
    position: fixed;
    left: 0;bottom: 0;
    width: 100%;
    padding-top: 10px;
    overflow: hidden;
    height: 80px;
    background: #ffffff;
    z-index: 999999;
    box-sizing: border-box;
}
.pofix>div{
    padding: 0 10px 10px;
}
.btnC ul {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.btnC li {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    width: 50%;
}
.pofix > div button {
    width: 100%;
    display: block;
    background: #009bd7;
    text-align: center;
    font-size: 18px;
    color: #fff;
    height: 50px;
    line-height: 50px;
}