/*reset*/

*{margin:0;padding:0}
h2{text-align:left}
h3{text-align:left}
h1,h2,h3,h4,h5,h6,strong{font-weight:bold}
h1,h2,h3,h4,h5,h6{font-size:100%}
abbr,acronym{border-bottom:1px dotted #000;cursor:help}
em{font-style:normal}
ol li{list-style:none}
ul li{list-style:none}
li{list-style:none}
th,td{padding:0}
th{font-weight:bold;text-align:center}
fieldset{border:0;}
.accessibility,legend{visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;font-size:0}
caption,.invisible{visibility:hidden !important;overflow:hidden !important;position:static;width:0 !important;height:0 !important;margin:0 !important;padding:0 !important;font-size:0 !important;line-height:0 !important;text-indent:-9999px !important}

input[type=text],input[type=password],textarea{width:12.25em;*width:11.9em}
label,.btn{cursor:pointer}

.fl{float:left}
.fr{float:right}

body{margin-left:auto;margin-right:auto;/* font-size:small;  for IE */
/* font:x-small; /* for IE in quirks mode */
/* center the page */
background-color:#fff;font-family:'Malgun Gothic', Dotum,'돋움',AppleGothic,Lucida Grande,Verdana,Arial,Tahoma,sans-serif;font-size:11px;color:#69696B;position: relative;}   /* 20161024 폰트변경 */

/**
 * Nudge down to get to 13px equivalent for these form elements
 */
input,button,textarea{font-family:'Malgun Gothic', Dotum,'돋움',AppleGothic,Lucida Grande,Verdana,Arial,Tahoma,sans-serif;font-size:11px;color:#4D4D4D;vertical-align:middle}/*201303 명도대비 수정*/     /* 20161024 폰트변경 */
select{font-family:'Malgun Gothic', Dotum,'돋움',AppleGothic,Lucida Grande,Verdana,Arial,Tahoma,sans-serif;font-size:12px;vertical-align:middle}     /* 20161024 폰트변경 */
input.txt,input.sum,input.sum-f{width:auto;height:18px;margin:-1px 0;padding:0 0 0 5px;border:1px solid #ccc;line-height:18px;color:#4D4D4D}/*201303 명도대비 수정*/
input.chk{width:13px;height:13px;margin:0 2px 0 0}
table{border-collapse:collapse;font-size:inherit;font:100%;text-align:left;border-spacing:0;width: 100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%}
button {
    border: none;
    padding: 0;
    margin: 0;
    visibility: visible;
    cursor: pointer;
}

a:link{color:#4d4d4d;text-decoration:none}
a:visited{color:#4d4d4d;text-decoration:none}
a:hover{color:#4d4d4d;text-decoration:underline}
a:active{color:#4d4d4d;text-decoration:none}
a:focus{text-decoration:underline}
table a {font-size: 12px;}
form,img,a,iframe{border-style:none}
img{vertical-align:top}
.datatable th{
    padding-left: 15px;
    font-weight: normal;
    color: #898989;
    text-align-last: left;
}

.hidden{
    visibility: hidden;
    position: absolute;
    font-size: 0;
    width: 0;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    background: none;
}



/*상단 hidden nav*/
a.snav{
    position: absolute;
    top: -10000px;
    width: 100%;
    padding: 10px 0;
    color: #000;
    z-index: 500;
    background-color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
a.snav:active,a.snav:focus,a.snav:hover{
    top: 0;
}

/*상단 광고 top banner*/
nav.top_bnr{
    background-color: #8378ee;
}
.top_bnr .top_bnr_wrap{
    width: 920px;
    margin: 0 auto;
}
.top_bnr .top_bnr_wrap ul{
    overflow: hidden;
}
.top_bnr .top_bnr_wrap ul li{
    float: left;
}

/*header*/
/*header app down*/
.header_wrap{position: relative; width: 920px;margin: 0 auto; height: 114px;} 
.header_wrap .btn_appdown{
    background:url(https://simage.lotte.com/lotte/images/common/header2015/header_icon.png) no-repeat 0 0;
    height: 13px;
    line-height: 11px;
    position: absolute;
    top: 11px;
    left: 0;
    color: #666;
    letter-spacing: -1px;
    padding-left: 15px;
}

/*header 인사*/

.header_wrap ul.util_list{
    
    position: absolute;
    top: 11px;
    right: 2px;
    z-index: 2;
}
.header_wrap ul.util_list li.grade_name{
    background: none;
    overflow: visible;
}
.header_wrap ul.util_list li.grade_name .greeting{
    float: left;
    height: 15px;
    line-height: 11px;
    margin-right: 3px;
}
.header_wrap ul.util_list li.grade_name .grade_box{
    overflow: visible;
    position: relative;
    font-weight: bold;
    float: left;
}
.header_wrap ul.util_list li{
    background: url(https://simage.lotte.com/lotte/images/common/header2015/line_header_util.gif) no-repeat left 1px;
    float: left;
    width: auto;
    padding: 0 0 0 10px;
    margin-left: 9px;
    position: relative;
}
.header_wrap .util_list li>a{
    color: #666;
    line-height: 11px;
    letter-spacing: -1px;
    height: 15px;
    display: block;
}
.header_wrap .util_list li>a .count{
    padding-left: 3px;
    font-weight: bold;
    color: #689bde;
    position: relative;
    top: 1px;
}

.header_wrap .util_list li>a{
    background-position: 48px -116px;
    height: 15px;
    display: block;
}
.header_wrap .logo{
    position: absolute;
    left: 0;
    top: 43px;
}
.header_wrap .search_box{
    position: absolute;
    top: 48px; left: 226px;
}
.header_wrap .search_input_wrap{
    background-position: 0 -260px;
    width: 467px;
    background: url(https://simage.lotte.com/lotte/images/common/header2015/header_search_img_op2018.png) no-repeat 0 0;
    height: 43px;
    position: relative;
}
.header_wrap .search_box .search_input_wrap, .chanel .header_wrap .search_box .search_input_wrap {
    background-position: 0 -260px;
    width: 347px;
}
.header_wrap .search_box .btn{
    background: url(https://simage.lotte.com/lotte/images/common/header2015/header_search_img.png) no-repeat 4px -176px;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
    position: absolute;
    top: 8px;
    right: 16px;
}
.header_wrap .header_bnr_wrap{
    width: 316px;
    height: 60px;
    position: absolute;
    top: 43px;
    right: 0;
    z-index: 1;
    overflow: hidden;
}
.header_wrap .header_bnr_wrap ul{
    position: relative;
}
.header_wrap .header_bnr_wrap ul li{
    height: 60px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}
.header_wrap .header_bnr_wrap ul li .taps{
    display: none;
}
.header_wrap .header_bnr_wrap ul li .cont{
    width: 316px;
}
.header_wrap .header_bnr_wrap ul li .cont a .card_txt{
    position: absolute;
    top: 10px;
    left: 108px;
    width: 170px;
    font-size: 12px;
    color: #fff;
    overflow: hidden;
}
.header_wrap .header_bnr_wrap ul li .cont .card_txt .f1{
    height: 17px;
    overflow: hidden;
}
.header_wrap .header_bnr_wrap ul li .cont .card_txt .f2{
    height: 18px;
    font-size: 15px;
    overflow: bold;
}
.header_wrap .header_bnr_wrap .rn_card_bnr_btn {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 5;
}
.header_wrap .header_bnr_wrap .rn_card_bnr_btn a {
    display: block;
    width: 38px;
    height: 30px;
    overflow: hidden;
    background: url(https://simage.lotte.com/lotte/images/common/header2017/rn_card_bnr_btn_icon.png) no-repeat;
    text-indent: -9999px;
}
.header_wrap .header_bnr_wrap .rn_card_bnr_btn a.before {
    background-position: center 0;
}
.header_wrap .header_bnr_wrap .rn_card_bnr_btn a.after {
    background-position: center -30px;
}

/*헤더 메뉴*/
.header_menu_wrap{
    background-color: #518ddd;
    position: relative;
    font-family: 'Malgun Gothic', Dotum,'돋움',AppleGothic,Lucida Grande,Verdana,Arial,Tahoma,sans-serif;
    z-index: 120;
    letter-spacing: -1px;
}
.header_menu_wrap .header_menu{
    width: 920px;
    height: 53px;
    margin: 0 auto;
    position: relative;
}
.gcb_slim_wrap{
    position: absolute;
    top: 0;
    width: 57px;
    left: 0;
    display: block;
}
.gcb_slim_wrap {
    left: -90px;
}
.btn_category_view{
    padding-left: 0;background-position: -1px 0;
    text-indent: -9999px;
    font-size: 0;
    background: url(https://simage.lotte.com/lotte/images/common/header2015/gcb_icon.png) no-repeat 2px 0 #333949;
    display: block;
    height: 53px;
    color: #fff;
    line-height: 48px;
}
.header_menu .menu_wrap {
    width: 920px;
    margin: 0 auto;
}
.header_menu .menu_wrap .menu_left{
    padding-left: 0;
    float: left;
}
.header_menu .menu_wrap .menu_left li{
    margin-right: 43px;
    float: left;
    overflow: hidden;
}
.header_menu .menu_wrap .menu_left li a{
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    height: 53px;
    line-height: 50px;
}

.header_menu .menu_wrap .menu_right {
    background: url(https://simage.lotte.com/lotte/images/common/header2015/line_header_menu.gif) no-repeat left 16px;
    float: right;
    padding-left: 1px;
}
.header_menu .menu_wrap .menu_right li {
    float: left;
    margin-left: 22px;
}
.header_menu .menu_wrap .menu_right a{
    display: block;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    height: 53px;
    line-height: 50px;
}


/*헤더 아래 history& 이전페이지*/
.location {
    position: relative;
    z-index: 11;
    width: 920px;
    min-height: 22px;
    margin: 0 auto;
    padding: 14px 0 9px;
}
.location .history{
    float: left;
    width: 675px;
    font-size: 12px;
}
.location .history .home{
    float: left;
    width: 0;
    height: 21px;
    padding: 0 0 0 18px;
    background: url(https://simage.lotte.com/lotte/images/common/icon/icon_nav01_new.gif) 0 center no-repeat;
    line-height: 21px;
}
.location .history .home a{
    text-indent: -9999px;
    display: inline-block;
    width: 18px;
    height: 21px;
    position: relative;
    left: -18px;
}
.location .history .history_list_wrap{
    float: left;
    width: 632px;
}
.location .history .history_list_wrap li{
    float: left;
    position: relative;
    margin: 0 0 5px;
    padding: 0 0 0 14px;
    background: url(https://simage.lotte.com/lotte/images/common/header_2012/icon_history_depth.gif) no-repeat 6px center;   
}
.location .history .history_list_wrap li .selectbox{
    padding: 0 26px 0 2px;
    bottom: 0;line-height: 22px;
    background-color: #fff;
}
.location .history .history_list_wrap li .selectbox a{
    white-space: nowrap;
    font-size: 12px;
    color: #333;
}
.location .history .history_list_wrap li .selectbox .btn_more{
    display: block;
    position: absolute;
    top: 2px;
    right: 1px;
    width: 19px;
    height: 19px;
    background: #fff url(https://simage.lotte.com/lotte/images/category_2014/select_history_new.gif) no-repeat right center;
    text-indent: -9999px;
    cursor: pointer;
}
.location .prev_place{
    position: absolute;
    right: 0;
}
/*주문페이지*/
#container{
    width: 920px;
    min-height: 210px;
    margin: 0 auto;
    padding: 0 0 25px;
}
#container .order{
    padding-top: 28px;
    position: relative;
}
#container .order_sheet{
    width: 660px;
}
#container .order_sheet h4{
    height: 28px;
    margin-top: 50px;
}

/*cart list 1.주문하시는 상품*/

.cart_list{
    background: url(https://simage.lotte.com/lotte/images/order/bg_cartlist.gif) repeat-x;
    border-top: 2px solid #2e70d1;
    table-layout: fixed;
    margin-top: -2px;
}
.cart_list th{
    height: 32px;
    background: url(https://simage.lotte.com/lotte/images/order/bg_th.gif) no-repeat left 7px;
    font-weight: normal;
    line-height: 32px;
    color:#76787b;
}
.cart_list td{
    padding: 15px 0;
    border-bottom: 1px solid #ededed;
    background: none;
    line-height: 16px;
    text-align: center;
}
.cart_list .first{
    padding-left: 7px;
    background: none;
}
.cart_list .thumb2{
    width: 43px;
    height: 43px;
    border: 1px solid #cbcbcb;
}
.cart_list .prd_txt{
    min-height: 43px;
    margin: -45px 0 0 60px;
}
.cart_list .first {
    padding-left: 7px;
    background: none;
    text-align: left;
    text-align: center;
}
.cart_list .prd_info {
    padding: 27px 5px 20px 5px;
    text-align: left;
    vertical-align: top;
}
.cart_list .prd_info .pname {
    word-break: break-all;
    word-wrap: break-word;
}
.cart_list .prd_info ul.option {
    margin-top: 3px;
}
.cart_list .prd_info ul.option li {
    background: url(https://simage.lotte.com/lotte/images/order/blt4.gif) no-repeat left 7px;
    padding-left: 8px;
    color:#4667d6;
}
.cart_list .prd_info .picon {
    margin-top: 6px;
}
.cart_list .prd_qty{
    font-size: 12px;
    color:#393939;
}
.cart_list .prd_sum{
    padding-right: 15px;
    background: url(https://simage.lotte.com/lotte/images/order/dline_v1.gif) repeat-y left top;
    font-size: 12px;
    font-weight: bold;
    color: #cd3800;
    text-align: right;
}
.cart_list .delivery{
    background: url(https://simage.lotte.com/lotte/images/order/dline_v1.gif) repeat-y left top;
}

/*2.할인수단 선택*/
.order h4{
    height: 28px;
    margin-top: 50px;
}
.order .max_discount_chk{
    height: 23px;
    margin-top: -23px;
    color: #4667d6;
    text-align-last: left;
    margin-left: 171px;
}
input.chk{
    margin-bottom: 1px;
    position: relative;
    top: -1px;
    margin-right: 5px;
    width: 13px;
    height: 13px;
    margin: 0 2px 0 0;
}
.order .max_discount_chk label{
    font-size: 12px;
    font-weight: bold;
}
.datatable{
    border-top: 2px solid #4e70d1;
    border-collapse: separate;
}
.discount_tb1{
    position: relative;
    margin-bottom: 15px;
    border-bottom: 1px solid #aaa;
}
.discount_tb1 th{
    padding: 5px 0 3px 14px;
    border-right: 1px solid #d7d7d7;
}
.discount_tb1 td{
    padding: 5px 5px 3px 10px;
    vertical-align: top;
}
.discount_tb1 .discount_txt{
    background-color: #f7f7f7;
    color:#555;
    padding: 9px 5px 9px 10px;   
}
.discount_tb1 .discount_sum{
    padding: 16px 0 16px 11px;
    color:#69696b;
}
.discount_tb1 .discount_sum strong {
    color: #4667d6;
}
.discount_tb1 .discount_sel{
    padding: 13px 10px 13px 0;
    color: #666;
    text-align: left;
}
.discount_tb1 .discount_sel select{
    color: #393939;
    border: 1px solid #707070;
    font-size: 11px;
    width: 100%;
}
.discount_tb1 .discount_note{
    background: url(https://simage.lotte.com/lotte/images/order/dline_v1.gif) repeat-y left top;
    padding: 16px 6px 16px 10px;
    color: #888;
    word-break: break-all;
}
.discount_tb1 .discount_total_txt{
    background-color: #f2f4ff;
    font-weight: bold;
    color: #69696b;
    text-align-last: left;
    padding: 16px 12px;
    font-size: 12px;
}
.discount_tb1 .discount_total{
    background: #f2f4ff;
    font-weight: normal;
    text-align: right;
    padding: 16px 22px;
    font-size: 12px;
}
.discount_tb1 .discount_total strong {
    color: #4667d6;
}
.datatable .hline th, .datatable .hline td,  .datatable .span_lt_point_amt td,  .datatable .span_lt_point_amt th{
    border-top: 1px solid #d7d7d7;
    padding: 5px 5px 3px 10px;
}
.datatable .hline th, .datatable .hline td .chk {
    position: static;
    top: auto;
}
/*3. 주문고객 배송지 정보*/
.odrinfo_tb1 .first{
    padding-top: 8px;
    vertical-align: top;
}
.gift_bot {
    border-bottom: 1px solid #aaaaaa;
}
.odrinfo_tb1 th{
    padding-top: 5px;
}
.odrinfo_tb1 td {
    padding: 6px 10px 5px;
    color: #666;
}
.odrinfo_tb1 .customer_info{
    padding: 7px 10px 6px;
}
.odrinfo_tb1 .customer_info * {
    font-size: 12px;
}
.odrinfo_tb1 .customer_info em{
    margin-left: 30px;
    padding-left: 8px;
    background: url(https://simage.lotte.com/lotte/images/order/blt3.gif) no-repeat left 4px;
}
.datatable .hline2 th,.datatable .hline2 td{
    background-color: #f2f4ff;
    border-bottom: 1px solid #d7def8;
    border-top: 1px solid #d7def8;
}
.odrinfo_tb1 .btn_right {
    text-align: right;
    vertical-align: top;
    padding-left: 0;
}
.datatable tbody tr td .self_number{
    letter-spacing: -1px;
    color: #4667d6 !important;
}
.datatable tbody tr td .self_number_btn{
    position: relative;
    top: 2px;
}

/*픽업지점찾기*/
.grs{
    background: #f7f7f7;
    padding: 9px 0 9px 20px;
    margin-top: 10px;
    line-height: 20px;
    color:#666;
    position: relative;
}
.grs .btn_sel{
    display: block;
    text-align: right;
    padding-right: 20px;
    position: absolute;
    top: 22px;
    right: 0;
}

/*4.결제정보 선택*/
.payment_next_add{
    height: 23px;
    color:#4667d6;
    text-align-last: left;
    margin: -23px 0 0 164px;
}
.btn_pop_release{
    height: 25px;
    margin-top: -25px;
    text-align: right;
}
.pay_sel_box{
    margin-bottom: 30px;
    border-top: 2px solid #4e70d1;
    border-bottom: 1px solid #d7def7;
    margin-top: 9px;
}
.pay_select {
    padding-bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.simple_pay{
    border-bottom: 1px solid #d7def8;
}
.pay_select .pay_sel{
    height: 22px;
    padding: 20px 0 0;
    text-align: left;
}
.pay_select .pay_sel_v3 li{
    padding: 0 13px;
    display: inline;
}
.pay_title{
    float: left;
    width: 110px;
    text-align: center;
    font-size: 12px;
    color: #898989;
    height: 22px;
}
.normal_pay{
    border-top: 0;
}

/*Lpay 간편결제*/
.pay_info{
    width: 660px;
    margin-top: 30px;
    overflow: hidden;
}
.pay_info h3{
    height: 22px;
    background: url(https://simage.lotte.com/lotte/images/customer/bg_payinfo.gif) repeat-x left bottom;
    font-size: 12px;
    color: #4667d6;
}
.pay_info table{
    float: left;
    width: 398px;
    border-bottom: 1px solid #aaa;
    color: #888;
}
.pay_info .first th, .pay_info .first td{
    border-top: none !important;
}
.pay_info th {
    padding-top: 13px;
    border-right: 1px solid #D8D8D8;
    font-weight: normal;
}
.pay_info th, .pay_info td{
    padding: 10px 0 8px 10px;
    border-top: 1px solid #d8d8d8;
    color: #888;
    text-align-last: left;
    vertical-align: top;
}
.pay_info td{
    line-height: 15px;
}
.pay_info .scroll{
    overflow-y: scroll;
    width: 230px;
    margin-top: 10px;
    padding: 10px;
    background: #f9f9f9;
    font-size: 11px;
    color: #888;
}
#div_card ul{
    min-height: 45px;
}
.pay_info .scroll ul li{
    padding-left: 8px;
    background: url(https://simage.lotte.com/lotte/images/order/blt1.gif) no-repeat 2px 5px;
    line-height: 15px;
}
.order_sheet .card_interest_free01{
    margin-top: 0;
    padding-top: 30px;
}
.order_sheet .card_interest_free01 h5{
    height: 20px;
}
.order_sheet .card_interest_free01 .note1{
    height: 16px;
    margin-top: -16px;
    text-align: right;
}
.order_sheet .card_interest_free01 .box{
    border: 4px solid #e8e8e8;
}
.order_sheet .card_interest_free01 .box th, .order_sheet .card_interest_free01 .box td{
    padding: 15px 0;
    vertical-align: top;
}
.order_sheet .card_interest_free01 .box th{
    width: 70px;
    text-align-last: left;
}
.order_sheet .card_interest_free01 .box th img{
    margin-left: 5px;
}
.order_sheet .card_interest_free01 .box td{
    width: 145px;
    color: #898989;
}
.order_sheet .card_interest_free01 td li span{
    width: 77px;
    display: inline-block;
    padding-right: 2px;
    text-align: right;
}
.card_interest_free01 .note2{
    line-height: 15px;
}
.card_interest_free01 .note2 em{
color: #393939;
}

/*lpay 자세히보기*/
.order_smartpay{
    padding-top: 50px;
}

/*order confirm*/
#payConfirmBox{
    position: absolute;
    right: 0;
    top: 158px;
    z-index: 9;
}
.order_confirm{
    float: right;
    width: 242px;
    color: #888;
    text-align: right;
}
#container .order_sheet .order_confirm .calculators_h4{
    margin-top: 0;
    height: 35px;
}
.order_confirm .box{
    overflow: hidden;
    width: 222px;
    margin-bottom: 10px;
    padding: 5px;
    border: 5px solid #4e70d1;
}
.order_confirm th, .order_confirm  td{
    text-align: right;
}
.order_confirm td {
    padding-right: 10px !important;
}
.order_confirm .odr_sum th{
    padding: 3px 0 2px;
    color: #888;
    width: 125px;
}
.order_confirm .odr_sum th, .order_confirm .odr_sum td{
    padding: 10px 0 7px;
    background: #e6ebfa;
    font-size: 12px;
    color: #1f409f;
}
.order_confirm .hline_b th {
    width: 125px;
    font-weight: normal;
}
.order_confirm .hline_b th, .order_confirm .hline_b td {
    padding-top: 7px;
}
.order_confirm .pay_total
{
    margin-top: 7px;
    padding: 10px;
    border-top: 2px solid #4e70d1;
    line-height: 16px;
}
.order_confirm .pay_total2{
    padding-top: 23px;
    padding-bottom: 2px;
}
.order_confirm .pay_total2 p{
    margin-bottom: 0;
    line-height: .5;
    font-size: 12px;
    font-weight: bold;
    color: #666;
}
.order_confirm .pay_total2 p span{
    font-size: 12px;
    color: #e75900;
}
.order_confirm .pay_total2 p strong{
    font: 30px verdana;
    font-weight: bold;
    letter-spacing: -1px;
}
.pay_total.pay_total2.pay_txt_align{
    border-top: 1px solid #ececec;
    padding: 10px;
    padding-top: 24px;
    padding-bottom: 8px;
}
.order_confirm .pay_recipient{
    margin-top: 4px;
    padding: 7px;
    background-color: #eee;
    text-align: center;
}
.order_confirm .order_assent.assent_all_wrap {
    padding-bottom: 6px;
}
.order_confirm .order_assent{
    border: 1px solid #aaa;
    margin-bottom: 6px;
    text-align: left;
}
.order_confirm .order_assent .first{
    background-color: #f2f5ff;
    padding: 9px 10px 5px;
    text-align: left;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    color: #393939;
    letter-spacing: -0.06em;
    overflow: hidden;
}
.order_confirm .order_assent .nth_wrap{
    margin-bottom: 7px;
    font-size: 11px;
}
.order_confirm .order_assent .nth_wrap p{
    letter-spacing: -0.04em;
    line-height: 15px;
    text-align: left;
}
.order_confirm .order_assent .nth1{
    color: #888;
    margin: 2px 0 0;
    padding: 8px 10px 3px;
}
.order_confirm .order_assent .nth1 label{
    color: #393939;
    font-size: 12px;
    position: relative;
    top: 1px;
}
.order_confirm .order_assent .nth2{
    margin: 4px 0 0 16px;
    color: #888;
}
.order_confirm .order_assent a {
    display: block;
    border: 1px solid #e3e3e3;
    padding: 0px 3px;
    width: 43px;
    line-height: 16px;
    margin-left: 15px;
    width: 44px;
}



/* popup용 */
#container_popup{position: relative;}
#wrapper{
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 400px;
    position: relative;
}
#wrapper #header{
    min-height: 45px;
    position: relative;
    z-index: 1000001;  
    display: block;  
}
#wrapper #header .inwrap{
    min-height: 16px;
}
.head_prev{
    position: inherit;
    float: left;
    margin: 9px 0 0 5px;
    left: 12px;
    top: 17px;
}
.head_prev a{
    display: block;
    width: 30px;
    height: 30px;
    background: url(https://web.lpay.com:1452/resources/images/common/headbtn_prevB.png) no-repeat 50% 50%;
    background-size: 20px;
    
}
.blind, caption, legend {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -5000em;
}
.inwrap h1 {
    text-align: left;
    border-bottom: none;
    font-size: 18px;
    font-weight: 500;
}
.head_tit {
    float: left;
    margin-left: 20px;
    padding-left: 15px;
    padding-top: 17px;
    line-height: 16px;
    background: url(../images/icon/bul_titB.png) no-repeat 0 20px;
    background-size: 6px;
}

.head_prev, .head_tit{
    margin-left: 5px;
    padding-left: 0;
    background: none;
}
.head_tit .head_caution .caution {
    text-indent: -9999em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: -3px;
    background: url(https://web.lpay.com:1452/resources/images/icon/ico_caution.png) no-repeat 50% 50%;
    background-size: 14px;
}
.head_close{
    right: 0;top: 3px;
    position: absolute;
}
.head_close a{
    display: block;
    width: 23px;
    height: 23px;
    padding: 10px;
    background: url(https://web.lpay.com:1452/resources/images/common/headbtn_closeB.png) no-repeat 50% 50%;
    background-size: 17px;
}
.conarea{
    padding: 0 20px;
    margin-bottom: 75px;
}
.cardul .focusline{
    border-bottom: 1px solid #dbdbdb;
}
.cardul.addul {
    padding-top: 0;
}
.cardul > li{
    height: 70px;
}
.cardul > li strong{
    padding: 17px 0 4px;
    display: block;
    font-size: 14px;
    color: #555;
}
.label, .label label {
    display: inline-block;
    font-size: 14px;
    color: #555;
}
.inpbox{position: relative;}
.cardul.addul > li .inp_txt {
    border-bottom: none !important;
}
.cardul > li .inp_txt {
    width: 100%;
    height: 30px;
    font-size: 14px;
    color: #333;
    line-height: 30px;
}
.inpbox .inp_txt {
    border: 0 !important;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 30px;
    padding: 0;
    color: #333;
    z-index: 5;
}
.inp_chk_wrap {
    position: relative;
    overflow: hidden;
}
.inp_chk_wrap .inp_chk {
    border: 0 !important;
    position: absolute;
    top: -10px;
    left: -10px;
    width: 0;
    height: 0;
}
.card_prima{
    margin-top: 13px;
}
.card_prima .inp_chk_wrap .inp_chk + label {
    padding-top: 2px;
    font-size: 14px;
    color: #333;
}
.card_primabox .inp_chk_wrap .inp_chk + label:before {
    width: 17px;
    height: 17px;
    margin-top: -3px;
    margin-right: 7px;
    background: url(https://web.lpay.com:1452/resources/images/common/chx_sq_new.png) no-repeat 0 0;
    background-size: 17px;
}

.card_primabox .inp_chk_wrap label::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
}
.card_primabox .primatxt{
    margin-left: 24px;
    margin-top: 5px;
    line-height: 18px;
}
.card_primabox .primatxt span {
    font-size: 12px;
}

.card_prima .fix_cau{
    margin-top: 10px;
}
.line_cau ul {
    padding-top: 10px;
    border-top: 1px solid #dbdbdb;
}
.fix_cau li:first-child{
    margin-top: 0;
}
.fix_cau li{
    margin-top: 5px;
    font-size: 12px;
    line-height: 18px;
    padding-left: 8px;
    background: url(https://web.lpay.com:1452/resources/images/icon/bul_sq_gray.png) no-repeat 0 7px;
    background-size: 3px;
}
.pofix{
    position: fixed;
    left: 0;bottom: 0;
    width: 100%;
    padding-top: 10px;
    overflow: hidden;
    height: 80px;
    background: #ffffff;
    z-index: 999999;
    box-sizing: border-box;
}
.pofix>div{
    padding: 0 10px 10px;
}
.btnC ul {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.btnC li {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    width: 50%;
}
.pofix > div button {
    width: 100%;
    display: block;
    background: #009bd7;
    text-align: center;
    font-size: 18px;
    color: #fff;
    height: 50px;
    line-height: 50px;
}
/*iframe용 css*/
.assetPage{
    display: none;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
}
.assetPage.active{
    display: block;
}
.assetIframe{
    display: none;
    z-index: 100000;
    width: 369px;
    height: 611px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.assetIframe.active{
    display: block;
}
.assetIframe iframe{
    width: 100%;
    height: 100%;
}